.kong-route-dialog {
    min-width: 500px;
    height: 500px;
}

.kong-route-dialog-chip {
    font-weight: normal;
    padding-left: 10px;
}

.kong-route-dialog-chip-input {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.kong-route-dialog-tab-content {
    margin-top: 10px;
}

.kong-route-dialog-checkbox {
    margin-bottom: 10px;
}
