.kong-consumer-dialog {
    min-width: 500px;
    height: 250px;
}

.kong-consumer-dialog-chip {
    font-weight: normal;
    padding-left: 10px;
}

.kong-consumer-dialog-chip-input {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
